{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<main class="container mb-4">
    <!-- Título da Página -->
    <div class="row mt-5">
        <div class="col-12 mt-5">
            <h1 class="text-center" style="color:#FF13A4; text-shadow: 5px 5px 15px #17010e73; font-weight: bold; text-decoration: underline;">
                {% trans "Shopping Bag" %}
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if bag_items %}
                <div class="table-responsive rounded" style="background-color: #A8E6CF;">
                    <table class="table table-sm table-borderless p-4 mt-3">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">{% trans "Product Info" %}</th>
                                <th scope="col"></th>
                                <th scope="col">{% trans "Price" %}</th>
                                <th scope="col">{% trans "Qty" %}</th>
                                <th scope="col">{% trans "Subtotal" %}</th>
                            </tr>
                        </thead>

                        {% for item in bag_items %}
                            <tr>
                                <!-- Imagem do Produto -->
                                <td class="p-3 w-25">
                                    {% if item.product.image %}
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                    {% else %}
                                        <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                    {% endif %}
                                </td>

                                <!-- Informações do Produto -->
                                <td class="py-3">
                                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                    {% if item.size %}
                                        <p class="my-0 small">{% trans "Size" %}: {{ item.size }}</p>
                                    {% endif %}
                                    {% if item.flavor %}
                                        <p class="my-0 small">{% trans "Flavor" %}: {{ item.flavor }}</p>
                                    {% endif %}
                                    {% if item.topper_text %}
                                        <p class="my-0 small">{% trans "Topper" %}: {{ item.topper_text }} $ 8.00 for {% trans "Topper" %}</p>
                                    {% endif %}
                                    {% if item.roses_quantity %}
                                        <p class="my-0 small">{% trans "Roses" %}: {{ item.roses_quantity }} $ 5.00 each</p>
                                    {% endif %}
                                </td>

                                <td class="py-3">
                                    <p class="my-0">
                                        ${{ item.product.price|floatformat:2 }} <!-- Sempre mostra o preço base -->
                                        {% if item.product.sale_option %}
                                            {% if item.product.sale_option == "unit" %}
                                                {% trans "Per Unit" %}
                                            {% elif item.product.sale_option == "hundred" %}
                                                {% trans "Per Hundred" %}
                                            {% elif item.product.sale_option == "kilo" %}
                                                {% trans "Per Kilo" %}
                                            {% elif item.product.sale_option == "piece" %}
                                                {% trans "Per Piece" %}
                                            {% elif item.product.sale_option == "size" %}
                                                {% trans "By Size (Small, Medium, Large)" %}
                                            {% endif %}
                                        {% endif %}
                                    </p>
                                </td>
                                

                                <!-- Quantidade -->
                                <td class="py-3 w-25">
                                    <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_key %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                        data-item_id="{{ item.item_key }}" id="decrement-qty_{{ item.item_key }}">
                                                        <span><i class="fas fa-minus fa-sm"></i></span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                    data-item_id="{{ item.item_key }}"
                                                    id="id_qty_{{ item.item_key }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                        data-item_id="{{ item.item_key }}" id="increment-qty_{{ item.item_key }}">
                                                        <span><i class="fas fa-plus fa-sm"></i></span>
                                                    </button>
                                                </div>
                                                {% if item.product.has_sizes %}
                                                    <input type="hidden" name="product_size" value="{{ item.size }}">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link text-info"><small>Update</small></a>
                                    <a class="remove-item text-danger float-right" id="remove_{{ item.item_key }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
                                </td>

                                <!-- Subtotal -->
                                <td class="py-3">
                                    <p class="my-0">${{ item.total_price|floatformat:2 }}</p>
                                </td>
                            </tr>
                        {% endfor %}

                        <!-- Total da Sacola -->
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                <h6><strong>{% trans "Bag Total" %}: ${{ total|floatformat:2 }}</strong></h6>
                                <h6>{% trans "Delivery" %}: ${{ delivery|floatformat:2 }}</h6>
                                <h4 class="mt-4"><strong>{% trans "Grand Total" %}: ${{ grand_total|floatformat:2 }}</strong></h4>
                                {% if free_delivery_delta > 0 %}
                                    <p class="mb-1 text-danger">
                                        {% trans "You could get free delivery by spending just" %} <strong>${{ free_delivery_delta }}</strong> {% trans "more!" %}
                                    </p>
                                {% endif %}
                            </td>
                        </tr>

                        <!-- Botões de Ação -->
                        <tr>
                            <td colspan="5" class="text-right">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">{% trans "Keep Shopping" %}</span>
                                </a>
                                <a href="#" class="btn btn-primary-pink rounded-0 btn-lg">
                                    <span class="text-uppercase">{% trans "Secure Checkout" %}</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <!-- Sacola Vazia -->
                <p class="lead mb-5">{% trans "Your bag is empty." %}</p>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">{% trans "Keep Shopping" %}</span>
                </a>
            {% endif %}

            <!-- Botão para Limpar Sacola -->
            <form action="{% url 'clear_bag' %}" method="post" class="mt-3">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">{% trans "Clear Bag" %}</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    });

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}
