# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Local env files
env.py

# Node modules
node_modules/

# GitHub config
.github/

# Cloudinary
cloudinary_python.txt

# SQLite database
*.sqlite3
