{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<main class="container mb-4">
    <div class="row mt-5">
        <div class="col-12 mt-5">
            <h1 class="text-center"
                style="color:#FF13A4; text-shadow: 5px 5px 15px #17010e73; font-weight: bold; text-decoration: underline;">
                {% trans "My Profile" %}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="text-muted">Default Delivery Information</p>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary-pink rounded-0 text-uppercase float-right">Update Information</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-muted">Order History</p>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                    title="{{ order.order_number }}"  style="color: black;">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td>{{ order.date }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                            <li class="small mb-2">
                                                <strong>{{ item.quantity }} X {{ item.product.name }}</strong>
                                
                    
                                                <!-- Exibir apenas o tipo de venda -->
                                                <p class="my-0">
                                                    {% if item.product.sale_option == "kilo" and item.quantity_kilo %}
                                                    {% trans "Kilo" %}: {{ item.quantity_kilo|floatformat:2 }}Kg
                                                    {% elif item.product.sale_option == "size" and item.size %}
                                                        {% trans "Size" %}: {{ item.size }}
                                                    {% elif item.product.sale_option == "unit" %}
                                                        {% trans "Unit" %}
                                                    {% elif item.product.sale_option == "hundred" %}
                                                        {% trans "Per Hundred" %}
                                                    {% elif item.product.sale_option == "piece" %}
                                                        {% trans "Per Piece" %}
                                                    {% else %}
                                                        {% trans "Other" %}
                                                    {% endif %}
                                                </p>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>                                
                                
                                <td>${{ order.grand_total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
</main>

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}