{% load static %}
{% load i18n %}

<div class="collapse navbar-collapse rounded-lg " id="main-nav" style="background-color: #F9F9F9; min-width: 500px ; margin-left: -1rem; ">
    <ul class="navbar-nav w-auto mx-auto p-2">
        <!-- Dropdown para "Sort Options" -->
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'products' %}" >
                {% trans "All Products" %}
            </a>
        </li>

        <!-- Dropdown para "Cakes" -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cakes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-cake-candles" style="color: #FF13A4;"></i> {% trans "Cakes" %}
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cakes-link" style="min-height: 100px;">
                <a href="{% url 'products_by_category' 'birthday-cake' %}" class="dropdown-item">{% trans "Birthday Cakes" %}</a>
                <a href="{% url 'products_by_category' 'wedding-cake' %}" class="dropdown-item">{% trans "Wedding Cakes" %}</a>
                <a href="{% url 'products_by_category' 'homemade-cakes' %}" class="dropdown-item">{% trans "Homemade Cakes" %}</a>
                <a href="{% url 'products_by_category' 'all-cakes' %}" class="dropdown-item">{% trans "All Cakes" %}</a>
            </div>
        </li>

        <!-- Dropdown para "Desserts" -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="desserts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% trans "Desserts" %}
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="desserts-link" >
                <a href="{% url 'products_by_category' 'pies' %}" class="dropdown-item">{% trans "Pies" %}</a>
                <a href="{% url 'products_by_category' 'mousses' %}" class="dropdown-item">{% trans "Mousses" %}</a>
                <a href="{% url 'products_by_category' 'cakes-in-a-pot' %}" class="dropdown-item">{% trans "Cakes in a Pot" %}</a>
                <a href="{% url 'products_by_category' 'party-desserts' %}" class="dropdown-item">{% trans "Party Desserts" %}</a>
                <a href="{% url 'products_by_category' 'all-desserts' %}" class="dropdown-item">{% trans "All Desserts" %}</a>
            </div>
        </li>

        <!-- "On Sale" Link -->
        <li class="nav-item">
            <a class="nav-link font-weight-bold text-danger" href="#" id="special-offers-link">
                {% trans "On Sale" %} <span class="badge bg-danger text-white flashing-sale">{% trans "SALE" %}</span>
            </a>
        </li>

        <!-- Link para "Party Sweets" -->
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'products_by_category' 'party-sweets' %}" >
                {% trans "Party Sweets" %}
            </a>
        </li>

        <!-- Dropdown para "About Us" -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% trans "About Us" %}
            </a>
    </ul>
</div>
