<div class="container mt-3">
    {% if messages %}
    <div class="container pt-3 ">
        {% for message in messages %}
        <div class="alert 
            {% if message.tags == 'error' %}alert-danger
            {% elif message.tags == 'success' %}alert-success
            {% elif message.tags == 'warning' %}alert-warning
            {% else %}alert-info
            {% endif %} 
            alert-dismissible fade show" role="alert" style="margin-top: 18rem; padding-bottom: 0;">
            
            <!-- Texto da mensagem com negrito e tamanho maior -->
            <strong style="font-size: 1.1rem; font-weight: bold;">{{ message }}</strong>
            
            <!-- Botão de fechar -->
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
