{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}




{% block content %}
<main class="container mb-4">
    <div class="row mt-5">
        <div class="col-12 col-md-6 mt-5">
            <h1 class="text-center"
                style="color:#FF13A4; text-shadow: 5px 5px 15px #17010e73; font-weight: bold; text-decoration: underline;">
                {% trans "Product Management" %}
            </h1>
            <h5 class="text-muted">Edit a Product</h5>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-right">
                    <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                    <button class="btn btn-primary-pink rounded-0" type="submit">Update Product</button>
                </div>
            </form>
        </div>            
    </div>
</div>
{% endblock %}