{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<main class="container-fluid">
    <div class="row">
        <!-- Coluna de Imagem -->
        <div class="col-12 col-md-6 col-lg-5 custom-height">
            <div class="image-container">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="#">
                    <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        
        <!-- Coluna de Detalhes do Produto -->
        <div class="col-12 col-md-6 col-lg-7 px-0 ps-lg-4">
            <div class="product-details-container">
                <h1 class="mb-0 mt-5">{{ product.custom_title|default:product.name }}</h1>

                <!-- Preço e descrição -->
                {% if product.category.name == "Birthday Cake" %}
                <h2 class="lead mb-0 text-left font-weight-bold mt-4">
                    {% trans "Price from:" %} ${{ base_price }} {% trans "per kilo" %}
                </h2>
                <small class="text-muted">
                    {% trans "Traditional:" %} $50.00 {% trans "per kilo" %} |
                    {% trans "Truffled:" %} $75.00 {% trans "per kilo" %}
                </small>
                {% elif product.name == 'Party Sweets' %}
                <h2 class="lead mb-0 text-left font-weight-bold mt-4">
                    {% trans "Price:" %} ${{ product.price }} <small>({% trans "per hundred" %})</small>
                </h2>
                {% elif product.size %}
                <h3 class="lead mb-0 text-left font-weight-bold mt-4">{% trans "Prices by Size:" %}</h3>
                <ul>
                    {% for size, price in size_prices.items %}
                    <li>{{ size|capfirst }}: ${{ price }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <h2 class="lead mb-0 text-left font-weight-bold mt-4">
                    {% trans "Price:" %} ${{ product.price }} <small>({% trans "per unit" %})</small>
                </h2>
                {% endif %}

                <p class="mt-3">{{ product.description }}</p>

                <!-- Formulário para Adicionar ao Carrinho -->
                <form method="POST" action="{% url 'add_to_bag' product.id %}">
                    {% csrf_token %}
                    <div class="form-group mt-4">
                        <!-- Sabores -->
                        {% if truffled_flavors or traditional_flavors %}
                        <label for="flavor-select">{% trans "Choose Your Flavor:" %}</label>
                        <select id="flavor-select" name="flavor" class="form-control mb-3" required>
                            <option value="">{% trans "Select a flavor" %}</option>
                            {% if truffled_flavors %}
                                <optgroup label="Truffled Flavors">
                                {% for flavor in truffled_flavors %}
                                    <option value="{{ flavor.id }}">{{ flavor.name }} (Truffled)</option>
                                {% endfor %}
                                </optgroup>
                            {% endif %}
                            {% if traditional_flavors %}
                                <optgroup label="Traditional Flavors">
                                {% for flavor in traditional_flavors %}
                                    <option value="{{ flavor.id }}">{{ flavor.name }}</option>
                                {% endfor %}
                                </optgroup>
                            {% endif %}
                        </select>
                        {% else %}
                        <p>{% trans "No flavors available." %}</p>
                        {% endif %}
                    </div>

                    <!-- Opção de Tamanho -->
                    {% if product.sale_option == 'size' %}
                    <div class="form-group mt-4">
                        <label for="size-select">{% trans "Choose a Size:" %}</label>
                        <select id="size-select" name="size" class="form-control" required>
                            <option value="">{% trans "Select a size" %}</option>
                            {% for size, price in size_prices.items %}
                            <option value="{{ size }}">{{ size|capfirst }} - ${{ price }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}

                    <!-- Quantidade em Quilos -->
                    {% if product.sale_option == 'kilo' %}
                    <div class="form-group mt-4">
                        <label for="quantity_kilo">{% trans "Quantity (in kilos):" %}</label>
                        <input type="number" name="quantity_kilo" id="quantity_kilo" class="form-control" step="0.1" min="0.1" value="1" required>
                    </div>
                    {% endif %}
                
                    <!-- Quantidade Normal -->
                    <div class="form-group mt-4">
                        <label for="quantity">{% trans "Quantity:" %}</label>
                        <input type="number" name="quantity" id="quantity" class="form-control" min="1" value="1" required>
                    </div>

                    <!-- Adicionais -->
                    {% if product.has_topper or product.has_roses %}
                    <div class="form-group mt-4">
                        <h3>{% trans "Additionals:" %}</h3>
                        {% if product.has_topper %}
                        <label for="topper-text">{% trans "Topper Text:" %}</label>
                        <input type="text" id="topper-text" name="topper_text" class="form-control" placeholder="{% trans 'Enter topper text' %}">
                        {% endif %}
                        {% if product.has_roses %}
                        <label for="roses-quantity">{% trans "Number of Roses:" %}</label>
                        <input type="number" id="roses-quantity" name="roses_quantity" class="form-control" min="0" value="0">
                        {% endif %}
                    </div>
                    {% endif %}

                    <!-- Botões -->
                    <div class="d-flex justify-content-between mt-4">
                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0">
                            <i class="fas fa-chevron-left"></i> {% trans "Keep Shopping" %}
                        </a>
                        <input type="submit"  class="btn btn-primary-pink rounded-0 text-uppercase" value="{% trans 'Add to Bag' %}">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
